In [1]:
import pandas as pd 
import numpy as np

#   DataFrame

From dict of Series or dicts

In [2]:
d = {
    "one" : pd.Series([1,2,3],index= ['a','b','c']),
    "two" : pd.Series([4,5,6],index= ['a','b','c']),
}
d

{'one': a    1
 b    2
 c    3
 dtype: int64,
 'two': a    4
 b    5
 c    6
 dtype: int64}

In [3]:
data = pd.DataFrame(d)
data

   one  two
a    1    4
b    2    5
c    3    6

To find the values in DF

In [4]:
data.values

array([[1, 4],
       [2, 5],
       [3, 6]])

To find the index in the DataFrame

In [5]:
data.index

Index(['a', 'b', 'c'], dtype='object')

To find Columns

In [6]:
data.columns

Index(['one', 'two'], dtype='object')

From a list of dicts

In [7]:
data2 = [{'a': 1 , 'b':2}, {'c': 3, 'd': 4}]

In [8]:
data2

[{'a': 1, 'b': 2}, {'c': 3, 'd': 4}]

In [9]:
DF = pd.DataFrame(data2)
DF

     a    b    c    d
0  1.0  2.0  NaN  NaN
1  NaN  NaN  3.0  4.0

TO update the index value

In [10]:
b = pd.DataFrame(data2, index=["first", "second"])
b

          a    b    c    d
first   1.0  2.0  NaN  NaN
second  NaN  NaN  3.0  4.0

To change the column value

In [11]:
a   =  pd.DataFrame(data2, columns = [1,2,3,4])
a

    1   2   3   4
0 NaN NaN NaN NaN
1 NaN NaN NaN NaN

From a dict of tuples

In [12]:
a  = pd.DataFrame(
    {
        ("a", "b"): {("A", "B"): 1, ("A", "C"): 2},
        ("a", "a"): {("A", "C"): 3, ("A", "B"): 4},
        ("a", "c"): {("A", "B"): 5, ("A", "C"): 6},
        ("b", "a"): {("A", "C"): 7, ("A", "B"): 8},
        ("b", "b"): {("A", "D"): 9, ("A", "B"): 10},
    }
)
a

       a              b
       b    a    c    a     b
A B  1.0  4.0  5.0  8.0  10.0
  C  2.0  3.0  6.0  7.0   NaN
  D  NaN  NaN  NaN  NaN   9.0

In [13]:
data3 = pd.DataFrame(a)
data3

       a              b
       b    a    c    a     b
A B  1.0  4.0  5.0  8.0  10.0
  C  2.0  3.0  6.0  7.0   NaN
  D  NaN  NaN  NaN  NaN   9.0

Column selection, addition, deletion

In [14]:
d = {
    "A" : pd.Series([1, 2, 3], index=["a", "b", "c"]),
    "B" : pd.Series([4, 5, 6], index=["a", "b", "c"]),
}

In [15]:
d

{'A': a    1
 b    2
 c    3
 dtype: int64,
 'B': a    4
 b    5
 c    6
 dtype: int64}

In [16]:
dataframe = pd.DataFrame(d)
dataframe

   A  B
a  1  4
b  2  5
c  3  6

In [17]:
dataframe['A']

a    1
b    2
c    3
Name: A, dtype: int64

In [18]:
dataframe['B']

a    4
b    5
c    6
Name: B, dtype: int64

In [19]:
dataframe['C'] = dataframe['A'] * dataframe['B']
dataframe

   A  B   C
a  1  4   4
b  2  5  10
c  3  6  18

Columns can be deleted or popped like with a dict

In [20]:
del dataframe['C']

In [21]:
dataframe

   A  B
a  1  4
b  2  5
c  3  6

#  Data alignment and arithmetic

In [42]:
data1 = pd.DataFrame(np.random.rand(4,4),index = ['a','b','c','d'],columns = ['col1','col2','col3','col4'])
data2 = pd.DataFrame(np.random.rand(4,4) , index = ['a','b','c','d'],columns = ['col1','col2','col3','col4'])

In [43]:
data1

       col1      col2      col3      col4
a  0.518449  0.388406  0.248118  0.532149
b  0.287680  0.169000  0.346162  0.132383
c  0.092600  0.055912  0.344988  0.464120
d  0.115106  0.934663  0.057650  0.780109

In [44]:
data2

       col1      col2      col3      col4
a  0.256847  0.261913  0.505960  0.936548
b  0.655707  0.454052  0.587290  0.376487
c  0.074433  0.246389  0.376293  0.861732
d  0.219610  0.308012  0.327060  0.247566

In [45]:
sum = data1 + data2

In [46]:
sum

       col1      col2      col3      col4
a  0.775297  0.650319  0.754078  1.468697
b  0.943387  0.623052  0.933452  0.508871
c  0.167033  0.302301  0.721281  1.325852
d  0.334717  1.242675  0.384710  1.027675

In [47]:
data1 * 2

       col1      col2      col3      col4
a  1.036898  0.776813  0.496236  1.064298
b  0.575359  0.338000  0.692323  0.264767
c  0.185200  0.111824  0.689976  0.928239
d  0.230212  1.869325  0.115300  1.560218

#  Transposing

In [48]:
data2.T

             a         b         c         d
col1  0.256847  0.655707  0.074433  0.219610
col2  0.261913  0.454052  0.246389  0.308012
col3  0.505960  0.587290  0.376293  0.327060
col4  0.936548  0.376487  0.861732  0.247566

#  To covert the dataframe into a array

In [49]:
type(data1)

pandas.core.frame.DataFrame

In [51]:
type(np.asarray(data2))

numpy.ndarray

In [34]:

np.asarray(data1)

array([[0.44536885, 0.31528708, 0.52281282, 0.34685078],
       [0.67439799, 0.07908279, 0.35927281, 0.02852172],
       [0.77288248, 0.9512806 , 0.00411005, 0.91873736],
       [0.70023117, 0.95863646, 0.72284762, 0.89511179]])

In [52]:
s = pd.Series([22,41,75],index = ['a','b','c'])

In [53]:
pd.DataFrame(s)

    0
a  22
b  41
c  75

Head and tail

In [54]:
data3 = pd.DataFrame(np.random.rand(10,10) , index = ['a','b','c','d','e','f','g','h','i','j'], columns = ['col1','col2','col3','col4','col5','col6','col7','col8','col9','col10'])

In [55]:
data3

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10
a,0.325168,0.896368,0.688091,0.957921,0.085075,0.135444,0.904367,0.008242,0.147310,0.825412
b,0.360598,0.543180,0.252051,0.214851,0.853827,0.688832,0.476822,0.398298,0.035210,0.795348
c,0.982078,0.074638,0.846976,0.760835,0.470278,0.275238,0.216468,0.571339,0.670378,0.240137
d,0.297603,0.624273,0.775493,0.805722,0.824719,0.244982,0.284760,0.788294,0.231859,0.819550
e,0.431617,0.682881,0.246030,0.184462,0.706104,0.958887,0.037010,0.173268,0.136416,0.056978
f,0.524418,0.545540,0.222590,0.187943,0.025717,0.890804,0.261241,0.637225,0.082624,0.713636
g,0.937802,0.821880,0.966090,0.981127,0.357702,0.394265,0.796939,0.197230,0.951316,0.164265
h,0.242944,0.456959,0.288742,0.933114,0.164414,0.317455,0.964251,0.432139,0.928513,0.338411
i,0.836490,0.102670,0.557522,0.323591,0.893443,0.339329,0.988515,0.552322,0.487761,0.511831
j,0.734754,0.573401,0.846522,0.973846,0.349499,0.194587,0.792979,0.745259,0.275674,0.827521

In [63]:
data3.head(3)

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10
a,0.325168,0.896368,0.688091,0.957921,0.085075,0.135444,0.904367,0.008242,0.147310,0.825412
b,0.360598,0.543180,0.252051,0.214851,0.853827,0.688832,0.476822,0.398298,0.035210,0.795348
c,0.982078,0.074638,0.846976,0.760835,0.470278,0.275238,0.216468,0.571339,0.670378,0.240137

In [64]:
data3.tail(3)

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10
h,0.242944,0.456959,0.288742,0.933114,0.164414,0.317455,0.964251,0.432139,0.928513,0.338411
i,0.836490,0.102670,0.557522,0.323591,0.893443,0.339329,0.988515,0.552322,0.487761,0.511831
j,0.734754,0.573401,0.846522,0.973846,0.349499,0.194587,0.792979,0.745259,0.275674,0.827521