In [12]:
import pandas as pd 
import numpy as np

In [13]:
d = {
	"s": pd.Series([1, 2, 3, np.nan, 5] ,  index = [0, 1, 2, 3, 4]),
	"s2": pd.Series([7, 8, 9, np.nan, 11] , index = [0, 1, 2, 3, 4]),
}

In [14]:
d

{'s': 0    1.0
 1    2.0
 2    3.0
 3    NaN
 4    5.0
 dtype: float64,
 's2': 0     7.0
 1     8.0
 2     9.0
 3     NaN
 4    11.0
 dtype: float64}

Dataframe

In [15]:
df = pd.DataFrame(d)

In [16]:
df

     s    s2
0  1.0   7.0
1  2.0   8.0
2  3.0   9.0
3  NaN   NaN
4  5.0  11.0

To handle missing values in dataframe

In [19]:
df.fillna(1, inplace=True)

In [20]:
df

     s    s2
0  1.0   7.0
1  2.0   8.0
2  3.0   9.0
3  1.0   1.0
4  5.0  11.0

#  Descriptive statistics

To find mean

In [27]:
df

     s    s2
0  1.0   7.0
1  2.0   8.0
2  3.0   9.0
3  1.0   1.0
4  5.0  11.0

In [28]:
df.mean(axis = 1)

0    4.0
1    5.0
2    6.0
3    1.0
4    8.0
dtype: float64

In [29]:
df.mean(axis = 0)

s     2.4
s2    7.2
dtype: float64

To find sum

In [30]:
df.sum(0)

s     12.0
s2    36.0
dtype: float64

In [31]:
df.sum(1)

0     8.0
1    10.0
2    12.0
3     2.0
4    16.0
dtype: float64

To find median

In [32]:
df.median(0)

s     2.0
s2    8.0
dtype: float64

In [33]:
df.median(1)

0    4.0
1    5.0
2    6.0
3    1.0
4    8.0
dtype: float64

To find min / max

In [34]:
df.min(0)

s     1.0
s2    1.0
dtype: float64

In [35]:
df.min(1)

0    1.0
1    2.0
2    3.0
3    1.0
4    5.0
dtype: float64

count

Number of non-NA observations

sum

Sum of values

mean

Mean of values

median

Arithmetic median of values

min

Minimum

max

Maximum

mode

Mode

abs

Absolute Value

prod

Product of values

std

Bessel-corrected sample standard deviation

var

Unbiased variance

sem

Standard error of the mean

skew

Sample skewness (3rd moment)

kurt

Sample kurtosis (4th moment)

quantile

Sample quantile (value at %)

cumsum

Cumulative sum

cumprod

Cumulative product

cummax

Cumulative maximum

cummin

Cumulative minimum

To find STD

In [37]:
df.std(0)

s     1.673320
s2    3.768289
dtype: float64

In [38]:
df.std(1)

0    4.242641
1    4.242641
2    4.242641
3    0.000000
4    4.242641
dtype: float64

In [39]:
df.skew(0)

s     1.088512
s2   -1.379189
dtype: float64

In [41]:
df.skew(1)

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
dtype: float64