In [1]:
import pandas as pd 
import numpy as np

In [2]:
d = {
	"s": pd.Series([1, 2, 3, np.nan, 5] ,  index = [0, 1, 2, 3, 4]),
	"s2": pd.Series([7, 8, 9, np.nan, 11] , index = [0, 1, 2, 3, 4]),
}

In [3]:
d

{'s': 0    1.0
 1    2.0
 2    3.0
 3    NaN
 4    5.0
 dtype: float64,
 's2': 0     7.0
 1     8.0
 2     9.0
 3     NaN
 4    11.0
 dtype: float64}

Dataframe

In [4]:
df = pd.DataFrame(d)

In [5]:
df

     s    s2
0  1.0   7.0
1  2.0   8.0
2  3.0   9.0
3  NaN   NaN
4  5.0  11.0

To handle missing values in dataframe

In [6]:
df.fillna(1, inplace=True)

In [7]:
df

     s    s2
0  1.0   7.0
1  2.0   8.0
2  3.0   9.0
3  1.0   1.0
4  5.0  11.0

#  Descriptive statistics

To find mean

In [8]:
df

     s    s2
0  1.0   7.0
1  2.0   8.0
2  3.0   9.0
3  1.0   1.0
4  5.0  11.0

In [9]:
df.mean(axis = 1)

0    4.0
1    5.0
2    6.0
3    1.0
4    8.0
dtype: float64

In [10]:
df.mean(axis = 0)

s     2.4
s2    7.2
dtype: float64

To find sum

In [11]:
df.sum(0)

s     12.0
s2    36.0
dtype: float64

In [12]:
df.sum(1)

0     8.0
1    10.0
2    12.0
3     2.0
4    16.0
dtype: float64

To find median

In [13]:
df.median(0)

s     2.0
s2    8.0
dtype: float64

In [14]:
df.median(1)

0    4.0
1    5.0
2    6.0
3    1.0
4    8.0
dtype: float64

To find min / max

In [15]:
df.min(0)

s     1.0
s2    1.0
dtype: float64

In [16]:
df.min(1)

0    1.0
1    2.0
2    3.0
3    1.0
4    5.0
dtype: float64

count

Number of non-NA observations

sum

Sum of values

mean

Mean of values

median

Arithmetic median of values

min

Minimum

max

Maximum

mode

Mode

abs

Absolute Value

prod

Product of values

std

Bessel-corrected sample standard deviation

var

Unbiased variance

sem

Standard error of the mean

skew

Sample skewness (3rd moment)

kurt

Sample kurtosis (4th moment)

quantile

Sample quantile (value at %)

cumsum

Cumulative sum

cumprod

Cumulative product

cummax

Cumulative maximum

cummin

Cumulative minimum

To find STD

In [17]:
df.std(0)

s     1.673320
s2    3.768289
dtype: float64

In [18]:
df.std(1)

0    4.242641
1    4.242641
2    4.242641
3    0.000000
4    4.242641
dtype: float64

In [19]:
df.skew(0)

s     1.088512
s2   -1.379189
dtype: float64

In [20]:
df.skew(1)

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
dtype: float64

#  Summarizing data: describe

In [22]:
df = pd.DataFrame(np.random.rand(4,4) , index = ['a','b','c','d'])

In [23]:
df

          0         1         2         3
a  0.980158  0.150223  0.166743  0.663686
b  0.064910  0.167522  0.551596  0.044825
c  0.815567  0.591375  0.261131  0.827862
d  0.349685  0.395229  0.579396  0.829095

In [25]:
df.describe()

              0         1         2         3
count  4.000000  4.000000  4.000000  4.000000
mean   0.552580  0.326087  0.389717  0.591367
std    0.420704  0.209149  0.206910  0.372551
min    0.064910  0.150223  0.166743  0.044825
25%    0.278491  0.163197  0.237534  0.508971
50%    0.582626  0.281376  0.406363  0.745774
75%    0.856715  0.444265  0.558546  0.828171
max    0.980158  0.591375  0.579396  0.829095

For more information about dataframe info function is used

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, a to d
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4 non-null      float64
 1   1       4 non-null      float64
 2   2       4 non-null      float64
 3   3       4 non-null      float64
dtypes: float64(4)
memory usage: 160.0+ bytes

#   Index of min/max values

In [28]:
s1 = pd.Series(np.random.rand(5))
s1

0    0.636114
1    0.823879
2    0.072546
3    0.127870
4    0.840792
dtype: float64

To find the minimum value in index for that idxmin is used

In [29]:
s1.idxmin()

2

To find the maximum  value in index for that idxmax  is used

In [31]:
s1.idxmax()

4

In [32]:
df1 = pd.DataFrame(np.random.randn(5, 3), columns=["A", "B", "C"])

In [33]:
df1

          A         B         C
0 -0.022164 -0.015481 -1.034839
1  0.768129  0.394494 -0.493709
2 -2.066375 -0.122155 -0.853808
3  0.245049 -0.246181  1.833171
4 -1.101399  0.431701  2.840304

In [34]:
df1.idxmin(axis = 0)

A    2
B    3
C    0
dtype: int64

In [35]:
df1.idxmin(axis = 1)

0    C
1    C
2    A
3    B
4    A
dtype: object

In [36]:
df1.idxmax(axis = 0)

A    1
B    4
C    4
dtype: int64

In [37]:
df1.idxmax(axis=1)

0    B
1    A
2    B
3    C
4    C
dtype: object

#  Value counts (histogramming) / mode

In [38]:
data = np.random.randint(0, 7, size=50)

In [39]:
data

array([1, 1, 5, 4, 4, 3, 0, 4, 6, 5, 6, 4, 5, 1, 4, 4, 6, 0, 5, 2, 0, 3,
       3, 2, 5, 3, 1, 3, 3, 5, 3, 1, 5, 0, 0, 3, 5, 6, 5, 2, 5, 4, 6, 6,
       1, 1, 6, 1, 3, 0], dtype=int32)

In [40]:
s = pd.Series(data)

To count the values in any series / dataframe

In [41]:
s.value_counts()

5    10
3     9
1     8
4     7
6     7
0     6
2     3
Name: count, dtype: int64

Similarly, you can get the most frequently occurring value(s), i.e. the mode, of the values in a Series or DataFrame

In [42]:
s5 = pd.Series([1, 1, 3, 3, 3, 5, 5, 7, 7, 7])

In [43]:
s5.mode()

0    3
1    7
dtype: int64

#  Row or column-wise function application

Arbitrary functions can be applied along the axes of a DataFrame using the apply() method, which, like the descriptive statistics methods, takes an optional axis argument.

In [52]:
df1 = pd.DataFrame(np.random.rand(3) , index = ['One','Two','Three'])
df1

              0
One    0.697944
Two    0.432737
Three  0.951789

In [54]:
df1.apply(lambda x : np.mean(x) , axis = 1)

One      0.697944
Two      0.432737
Three    0.951789
dtype: float64

In [57]:
df1.apply(lambda r : np.mean(r)    , axis = 0  )

0    0.694157
dtype: float64

In [60]:
df1.apply(lambda x: x.max() - x.min()  , axis = 0 )

0    0.519052
dtype: float64

#  Reindexing and altering labels

In [66]:
s = pd.Series(np.random.rand(5),index = ['a','b','c','d','e'])
s

a    0.932094
b    0.222751
c    0.929905
d    0.529110
e    0.657767
dtype: float64

Reindexing

In [67]:
s.reindex(['r','a','g','h','a'])

r         NaN
a    0.932094
g         NaN
h         NaN
a    0.932094
dtype: float64

# astype

In [69]:
df2 = pd.DataFrame(np.random.rand(8,3),index = [ '0', '1', '2', '3', '4', '5', '6', '7'], columns = ['A','B','C'])
df2

          A         B         C
0  0.113154  0.448249  0.803802
1  0.671263  0.726035  0.079488
2  0.895088  0.118402  0.440646
3  0.781210  0.144946  0.204641
4  0.106048  0.847016  0.148852
5  0.974028  0.889418  0.971222
6  0.025530  0.057170  0.008286
7  0.414432  0.856994  0.298443

In [81]:
df2.dtypes

A    float64
B    float64
C    float64
dtype: object

To change the datatype into float into integer

In [91]:
d = {
    "one" : pd.Series([1.63, 2.96, 3.9, 4.0], index = ['a', 'b', 'c', 'd']),
    "two" : pd.Series([5.8, 6.7, 7.1, 8.4], index = ['a', 'b', 'c', 'd']),
}
d

{'one': a    1.63
 b    2.96
 c    3.90
 d    4.00
 dtype: float64,
 'two': a    5.8
 b    6.7
 c    7.1
 d    8.4
 dtype: float64}

In [93]:
df4 = pd.DataFrame(d)
df4

    one  two
a  1.63  5.8
b  2.96  6.7
c  3.90  7.1
d  4.00  8.4

In [95]:
datatype = df4.astype(int)
datatype

   one  two
a    1    5
b    2    6
c    3    7
d    4    8