In [2]:
import pandas as pd  
import numpy as np

#   How to convert the dataframe into csv file

In [3]:
df = pd.DataFrame(np.random.rand(5,5),index = ['0','1','2','3','4'])

In [4]:
df.columns = ['a','b','c','d','e']

In [5]:
df

          a         b         c         d         e
0  0.003765  0.503822  0.339653  0.634888  0.471325
1  0.198247  0.984539  0.181016  0.607536  0.495702
2  0.285748  0.194014  0.217887  0.265537  0.143145
3  0.329811  0.912864  0.720635  0.540587  0.368690
4  0.482923  0.187111  0.720208  0.265861  0.273044

Dataframe -----------> CSV

In [6]:
df.to_csv("My_file.csv")

#  To read csv file

In [7]:
pd.read_csv('My_file.csv')

   Unnamed: 0         a         b         c         d         e
0           0  0.003765  0.503822  0.339653  0.634888  0.471325
1           1  0.198247  0.984539  0.181016  0.607536  0.495702
2           2  0.285748  0.194014  0.217887  0.265537  0.143145
3           3  0.329811  0.912864  0.720635  0.540587  0.368690
4           4  0.482923  0.187111  0.720208  0.265861  0.273044

#  Indexing and selecting data

In [8]:
ser = pd.Series(range(5), index=list("abcde"))
ser

a    0
b    1
c    2
d    3
e    4
dtype: int64

To find the elements by using indexing

In [9]:
ser.loc[['a','c','e']]

a    0
c    2
e    4
dtype: int64

In [10]:
df = pd.DataFrame(np.arange(25).reshape(5, 5), index=list("abcde"), columns=list("abcde"))

In [11]:
df

    a   b   c   d   e
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
e  20  21  22  23  24

In [12]:
df.loc[["a", "c", "e"], ["b", "d"]]

    b   d
a   1   3
c  11  13
e  21  23

 # Basics

To create the data in row

In [13]:
dates = pd.date_range('30/4/2025', periods=8)

In [14]:
dates

DatetimeIndex(['2025-04-30', '2025-05-01', '2025-05-02', '2025-05-03',
               '2025-05-04', '2025-05-05', '2025-05-06', '2025-05-07'],
              dtype='datetime64[ns]', freq='D')

In [15]:
df = pd.DataFrame(np.random.randn(8, 4),
                  index=dates, columns=['A', 'B', 'C', 'D'])

In [16]:
df

                   A         B         C         D
2025-04-30  1.049159 -0.800814 -0.635212  0.104427
2025-05-01 -0.186136 -1.071443  0.791895 -0.594694
2025-05-02  0.192334  0.844620 -0.556912 -0.255787
2025-05-03 -0.207892  0.109031  0.178768 -2.199435
2025-05-04  1.393160  1.226726 -0.366057 -0.016576
2025-05-05  0.015838  0.572603 -0.747480  0.956873
2025-05-06 -0.785254 -0.216127  0.222552  0.953858
2025-05-07  0.829319 -1.306882  3.068787 -0.379844

In [17]:
s = df['A']
s

2025-04-30    1.049159
2025-05-01   -0.186136
2025-05-02    0.192334
2025-05-03   -0.207892
2025-05-04    1.393160
2025-05-05    0.015838
2025-05-06   -0.785254
2025-05-07    0.829319
Freq: D, Name: A, dtype: float64

In [18]:
s[dates[5]]

np.float64(0.01583797940593634)

In [19]:
df[['B', 'A']] = df[['A', 'B']]

In [20]:
df

                   A         B         C         D
2025-04-30 -0.800814  1.049159 -0.635212  0.104427
2025-05-01 -1.071443 -0.186136  0.791895 -0.594694
2025-05-02  0.844620  0.192334 -0.556912 -0.255787
2025-05-03  0.109031 -0.207892  0.178768 -2.199435
2025-05-04  1.226726  1.393160 -0.366057 -0.016576
2025-05-05  0.572603  0.015838 -0.747480  0.956873
2025-05-06 -0.216127 -0.785254  0.222552  0.953858
2025-05-07 -1.306882  0.829319  3.068787 -0.379844

In [21]:
df[['A', 'B']]

                   A         B
2025-04-30 -0.800814  1.049159
2025-05-01 -1.071443 -0.186136
2025-05-02  0.844620  0.192334
2025-05-03  0.109031 -0.207892
2025-05-04  1.226726  1.393160
2025-05-05  0.572603  0.015838
2025-05-06 -0.216127 -0.785254
2025-05-07 -1.306882  0.829319

To sort the index in dataframe

In [22]:
df.sort_index()

                   A         B         C         D
2025-04-30 -0.800814  1.049159 -0.635212  0.104427
2025-05-01 -1.071443 -0.186136  0.791895 -0.594694
2025-05-02  0.844620  0.192334 -0.556912 -0.255787
2025-05-03  0.109031 -0.207892  0.178768 -2.199435
2025-05-04  1.226726  1.393160 -0.366057 -0.016576
2025-05-05  0.572603  0.015838 -0.747480  0.956873
2025-05-06 -0.216127 -0.785254  0.222552  0.953858
2025-05-07 -1.306882  0.829319  3.068787 -0.379844

#  Boolean indexing

In [23]:
s = pd.Series(range(-3, 4))

In [24]:
s

0   -3
1   -2
2   -1
3    0
4    1
5    2
6    3
dtype: int64

In [25]:
s[s > 0]

4    1
5    2
6    3
dtype: int64

#  Indexing with isin

In [26]:
s = pd.Series(np.arange(5), index=np.arange(5)[::-1], dtype='int64')

In [27]:
s

4    0
3    1
2    2
1    3
0    4
dtype: int64

In [28]:
s.isin([2, 4, 6])

4    False
3    False
2     True
1    False
0     True
dtype: bool

#  The where() Method and Masking

In [29]:
s[s > 0]

3    1
2    2
1    3
0    4
dtype: int64

In [30]:
s.where(s>0)

4    NaN
3    1.0
2    2.0
1    3.0
0    4.0
dtype: float64

#   Duplicate data

In [31]:
df2 = pd.DataFrame({'a': ['one', 'one', 'two', 'two', 'two', 'three', 'four'],
                    'b': ['x', 'y', 'x', 'y', 'x', 'x', 'x'],
                    'c': np.random.randn(7)})

In [32]:
df2

       a  b         c
0    one  x -0.223182
1    one  y -1.657305
2    two  x  0.554694
3    two  y -2.206237
4    two  x  2.205437
5  three  x -0.062400
6   four  x -1.406527

In [33]:
df2.duplicated('a')

0    False
1     True
2    False
3     True
4     True
5    False
6    False
dtype: bool

duplicated returns a boolean vector whose length is the number of rows, and which indicates whether a row is duplicated.

By default, the first observed row of a duplicate set is considered unique, but each method has a keep parameter to specify targets to be kept.

keep='first' (default): mark / drop duplicates except for the first occurrence.

keep='last': mark / drop duplicates except for the last occurrence.

keep=False: mark / drop all duplicates.

In [34]:
df2.duplicated('a', keep='last')

0     True
1    False
2     True
3     True
4    False
5    False
6    False
dtype: bool

In [35]:
df2.duplicated('a', keep=False)

0     True
1     True
2     True
3     True
4     True
5    False
6    False
dtype: bool

To drop duplicate the values

In [36]:
df2.drop_duplicates('a')

       a  b         c
0    one  x -0.223182
2    two  x  0.554694
5  three  x -0.062400
6   four  x -1.406527

#  Dictionary-like get() method

In [37]:
s = pd.Series([1, 2, 3], index=['a', 'b', 'c'])

In [38]:
s

a    1
b    2
c    3
dtype: int64

#  Merge, join, concatenate and compare

concat()

In [39]:
df1 = pd.DataFrame(
    {
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    },
    index=[0, 1, 2, 3],
)

In [40]:
df2 = pd.DataFrame(
    {
        "A": ["A4", "A5", "A6", "A7"],
        "B": ["B4", "B5", "B6", "B7"],
        "C": ["C4", "C5", "C6", "C7"],
        "D": ["D4", "D5", "D6", "D7"],
    },
    index=[4, 5, 6, 7],
)

In [41]:

df3 = pd.DataFrame(
    {
        "A": ["A8", "A9", "A10", "A11"],
        "B": ["B8", "B9", "B10", "B11"],
        "C": ["C8", "C9", "C10", "C11"],
        "D": ["D8", "D9", "D10", "D11"],
    },
    index=[8, 9, 10, 11],
)

In [43]:
frames = [df1, df2, df3]
frames

[    A   B   C   D
 0  A0  B0  C0  D0
 1  A1  B1  C1  D1
 2  A2  B2  C2  D2
 3  A3  B3  C3  D3,
     A   B   C   D
 4  A4  B4  C4  D4
 5  A5  B5  C5  D5
 6  A6  B6  C6  D6
 7  A7  B7  C7  D7,
       A    B    C    D
 8    A8   B8   C8   D8
 9    A9   B9   C9   D9
 10  A10  B10  C10  D10
 11  A11  B11  C11  D11]

In [44]:
result = pd.concat(frames)

In [ ]:
result

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

: