In [1]:
import pandas as pd  
import numpy as np

#   How to convert the dataframe into csv file

In [2]:
df = pd.DataFrame(np.random.rand(5,5),index = ['0','1','2','3','4'])

In [6]:
df.columns = ['a','b','c','d','e']

In [7]:
df

          a         b         c         d         e
0  0.794287  0.832613  0.469900  0.054501  0.219344
1  0.238627  0.975530  0.563228  0.476704  0.804442
2  0.244352  0.768774  0.521444  0.409422  0.147967
3  0.760234  0.750604  0.987618  0.239314  0.718757
4  0.270097  0.148029  0.859143  0.671582  0.774463

Dataframe -----------> CSV

In [8]:
df.to_csv("My_file.csv")

#  To read csv file

In [9]:
pd.read_csv('My_file.csv')

   Unnamed: 0         a         b         c         d         e
0           0  0.794287  0.832613  0.469900  0.054501  0.219344
1           1  0.238627  0.975530  0.563228  0.476704  0.804442
2           2  0.244352  0.768774  0.521444  0.409422  0.147967
3           3  0.760234  0.750604  0.987618  0.239314  0.718757
4           4  0.270097  0.148029  0.859143  0.671582  0.774463