In [2]:
import pandas as pd  
import numpy as np

#   How to convert the dataframe into csv file

In [3]:
df = pd.DataFrame(np.random.rand(5,5),index = ['0','1','2','3','4'])

In [4]:
df.columns = ['a','b','c','d','e']

In [5]:
df

          a         b         c         d         e
0  0.186777  0.852573  0.998945  0.895410  0.434093
1  0.779775  0.253980  0.957571  0.881503  0.780587
2  0.664440  0.771233  0.791489  0.704227  0.803871
3  0.649802  0.459406  0.443754  0.024371  0.652681
4  0.023108  0.461322  0.072819  0.179477  0.823719

Dataframe -----------> CSV

In [6]:
df.to_csv("My_file.csv")

#  To read csv file

In [7]:
pd.read_csv('My_file.csv')

   Unnamed: 0         a         b         c         d         e
0           0  0.186777  0.852573  0.998945  0.895410  0.434093
1           1  0.779775  0.253980  0.957571  0.881503  0.780587
2           2  0.664440  0.771233  0.791489  0.704227  0.803871
3           3  0.649802  0.459406  0.443754  0.024371  0.652681
4           4  0.023108  0.461322  0.072819  0.179477  0.823719

#  Indexing and selecting data

In [9]:
ser = pd.Series(range(5), index=list("abcde"))
ser

a    0
b    1
c    2
d    3
e    4
dtype: int64

To find the elements by using indexing

In [11]:
ser.loc[['a','c','e']]

a    0
c    2
e    4
dtype: int64

In [12]:
df = pd.DataFrame(np.arange(25).reshape(5, 5), index=list("abcde"), columns=list("abcde"))

In [13]:
df

    a   b   c   d   e
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
e  20  21  22  23  24

In [14]:
df.loc[["a", "c", "e"], ["b", "d"]]

    b   d
a   1   3
c  11  13
e  21  23

 # Basics

To create the data in row

In [15]:
dates = pd.date_range('30/4/2025', periods=8)

In [17]:
dates

DatetimeIndex(['2025-04-30', '2025-05-01', '2025-05-02', '2025-05-03',
               '2025-05-04', '2025-05-05', '2025-05-06', '2025-05-07'],
              dtype='datetime64[ns]', freq='D')

In [18]:
df = pd.DataFrame(np.random.randn(8, 4),
                  index=dates, columns=['A', 'B', 'C', 'D'])

In [19]:
df

                   A         B         C         D
2025-04-30  0.129088 -0.286209 -1.500207  0.403881
2025-05-01  1.503933  0.827392  0.326585 -3.093908
2025-05-02 -0.417260 -0.791753  1.135740  1.766613
2025-05-03  0.927205  0.743408 -0.104942 -0.616614
2025-05-04 -0.325580  0.264568 -1.667078 -0.200729
2025-05-05  0.822354  0.157288  2.686766  1.465851
2025-05-06  0.709868 -1.121914  0.068583  0.036602
2025-05-07  1.441384 -0.237240 -0.244077  0.263247

In [21]:
s = df['A']
s

2025-04-30    0.129088
2025-05-01    1.503933
2025-05-02   -0.417260
2025-05-03    0.927205
2025-05-04   -0.325580
2025-05-05    0.822354
2025-05-06    0.709868
2025-05-07    1.441384
Freq: D, Name: A, dtype: float64

In [22]:
s[dates[5]]

np.float64(0.8223539374224791)

In [24]:
df[['B', 'A']] = df[['A', 'B']]

In [25]:
df

                   A         B         C         D
2025-04-30  0.129088 -0.286209 -1.500207  0.403881
2025-05-01  1.503933  0.827392  0.326585 -3.093908
2025-05-02 -0.417260 -0.791753  1.135740  1.766613
2025-05-03  0.927205  0.743408 -0.104942 -0.616614
2025-05-04 -0.325580  0.264568 -1.667078 -0.200729
2025-05-05  0.822354  0.157288  2.686766  1.465851
2025-05-06  0.709868 -1.121914  0.068583  0.036602
2025-05-07  1.441384 -0.237240 -0.244077  0.263247

In [27]:
df[['A', 'B']]

                   A         B
2025-04-30  0.129088 -0.286209
2025-05-01  1.503933  0.827392
2025-05-02 -0.417260 -0.791753
2025-05-03  0.927205  0.743408
2025-05-04 -0.325580  0.264568
2025-05-05  0.822354  0.157288
2025-05-06  0.709868 -1.121914
2025-05-07  1.441384 -0.237240

To sort the index in dataframe

In [28]:
df.sort_index()

                   A         B         C         D
2025-04-30  0.129088 -0.286209 -1.500207  0.403881
2025-05-01  1.503933  0.827392  0.326585 -3.093908
2025-05-02 -0.417260 -0.791753  1.135740  1.766613
2025-05-03  0.927205  0.743408 -0.104942 -0.616614
2025-05-04 -0.325580  0.264568 -1.667078 -0.200729
2025-05-05  0.822354  0.157288  2.686766  1.465851
2025-05-06  0.709868 -1.121914  0.068583  0.036602
2025-05-07  1.441384 -0.237240 -0.244077  0.263247

#  Boolean indexing

In [32]:
s = pd.Series(range(-3, 4))

In [33]:
s

0   -3
1   -2
2   -1
3    0
4    1
5    2
6    3
dtype: int64

In [34]:
s[s > 0]

4    1
5    2
6    3
dtype: int64

#  Indexing with isin

In [36]:
s = pd.Series(np.arange(5), index=np.arange(5)[::-1], dtype='int64')

In [37]:
s

4    0
3    1
2    2
1    3
0    4
dtype: int64

In [40]:
s.isin([2, 4, 6])

4    False
3    False
2     True
1    False
0     True
dtype: bool

#  The where() Method and Masking

In [41]:
s[s > 0]

3    1
2    2
1    3
0    4
dtype: int64

In [42]:
s.where(s>0)

4    NaN
3    1.0
2    2.0
1    3.0
0    4.0
dtype: float64