In [2]:
import pandas as pd  
import numpy as np

# merge()

merge() performs join operations similar to relational databases like SQL.
 
# Merge types
merge() implements common SQL style joining operations.

one-to-one: joining two DataFrame objects on their indexes which must contain unique values.

many-to-one: joining a unique index to one or more columns in a different DataFrame.

many-to-many : joining columns on columns.

In [3]:
left = pd.DataFrame(
    {
        "key": ["K0", "K1", "K2", "K3"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)
left

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [4]:
right = pd.DataFrame(
    {
        "key": ["K0", "K1", "K2", "K3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }
)
right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [5]:
result = pd.merge(left, right, on="key")
result

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

left

LEFT OUTER JOIN

Use keys from left frame only

right

RIGHT OUTER JOIN

Use keys from right frame only

outer

FULL OUTER JOIN

Use union of keys from both frames

inner

INNER JOIN

Use intersection of keys from both frames

cross

CROSS JOIN

Create the cartesian product of rows of both frames

In [6]:
left = pd.DataFrame(
   {
      "key1": ["K0", "K0", "K1", "K2"],
      "key2": ["K0", "K1", "K0", "K1"],
      "A": ["A0", "A1", "A2", "A3"],
      "B": ["B0", "B1", "B2", "B3"],
   }
)

In [7]:
right = pd.DataFrame(
   {
      "key1": ["K0", "K1", "K1", "K2"],
      "key2": ["K0", "K0", "K0", "K0"],
      "C": ["C0", "C1", "C2", "C3"],
      "D": ["D0", "D1", "D2", "D3"],
   }
)

Left Merge

In [9]:
result = pd.merge(left, right, how="left", on=["key1", "key2"])
result

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN

Right merge

In [13]:
result = pd.merge(left, right, how="right", on=["key1", "key2"])
result

  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3

For outer merge

In [15]:
result = pd.merge(left,right , how = "outer" , on = ['key1','key2'])
result

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K0  NaN  NaN   C3   D3
5   K2   K1   A3   B3  NaN  NaN

Inner merge

In [17]:
result = pd.merge(left,right , how = 'inner',on=['key1','key2'])
result

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

# Merge key uniqueness

In [19]:
left = pd.DataFrame({"A": [1, 2], "B": [1, 2]})
left

   A  B
0  1  1
1  2  2

In [21]:
right = pd.DataFrame({"A": [4, 5, 6], "B": [2, 2, 2]})
right

   A  B
0  4  2
1  5  2
2  6  2

In [22]:
result = pd.merge(left,right , on = 'B' , how = 'outer',validate='one_to_one')

MergeError: Merge keys are not unique in right dataset; not a one-to-one merge

In [23]:
pd.merge(left, right, on="B", how="outer", validate="one_to_many")

   A_x  B  A_y
0    1  1  NaN
1    2  2  4.0
2    2  2  5.0
3    2  2  6.0

#  DataFrame.join()

In [25]:
left = pd.DataFrame(
    {"A": ["A0", "A1", "A2"], "B": ["B0", "B1", "B2"]}, index=["K0", "K1", "K2"]
)
left

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

In [27]:
right = pd.DataFrame(
    {"C": ["C0", "C2", "C3"], "D": ["D0", "D2", "D3"]}, index=["K0", "K2", "K3"]
)
right

     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3

to join the two different dataframe

In [29]:
result = left.join(right)
result

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [30]:
result = left.join(right, how="outer")
result

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3