In [1]:
import pandas as pd   
import numpy as np

#  get_dummies()

In [3]:
df = pd.DataFrame({"key": list("bbacab"), "data1": range(6)})
df

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

To convert categorical variables of a Series into a “dummy”

In [4]:
pd.get_dummies(df['key'])

       a      b      c
0  False   True  False
1  False   True  False
2   True  False  False
3  False  False   True
4   True  False  False
5  False   True  False

In [5]:
df['key'].str.get_dummies()

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

prefix adds a prefix to the the column names which is useful for merging the result with the original

In [7]:
dummies = pd.get_dummies(df['key'] , prefix="Raghav")
dummies

   Raghav_a  Raghav_b  Raghav_c
0     False      True     False
1     False      True     False
2      True     False     False
3     False     False      True
4      True     False     False
5     False      True     False

#  Working with text data

In [8]:
pd.Series(["a", "b", "c"])

0    a
1    b
2    c
dtype: object

In [9]:
pd.Series(['A','B','C'],dtype='string')

0    A
1    B
2    C
dtype: string

Convert the integer series into string

In [12]:
s1 = pd.Series([1,2,np.nan], dtype="Int64")
s1

0       1
1       2
2    <NA>
dtype: Int64

In [14]:
s2 = s1.astype('string')
s2

0       1
1       2
2    <NA>
dtype: string

In [16]:
s = pd.Series(["a", None, "b"], dtype="string")
s

0       a
1    <NA>
2       b
dtype: string

In [17]:
s.str.count("a")

0       1
1    <NA>
2       0
dtype: Int64

In [18]:
s.dropna().str.count("a")

0    1
2    0
dtype: Int64

# String methods

In [20]:
s = pd.Series(
    ["A", "B", "C", "Aaba", "Baca", np.nan, "CABA", "dog", "cat"], dtype="string"
)

s

0       A
1       B
2       C
3    Aaba
4    Baca
5    <NA>
6    CABA
7     dog
8     cat
dtype: string

To convert the string into lower case

In [21]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5    <NA>
6    caba
7     dog
8     cat
dtype: string

To convert upper case

In [22]:
s.str.upper()

0       A
1       B
2       C
3    AABA
4    BACA
5    <NA>
6    CABA
7     DOG
8     CAT
dtype: string

 length of string

In [23]:
s.str.len()

0       1
1       1
2       1
3       4
4       4
5    <NA>
6       4
7       3
8       3
dtype: Int64