In [1]:
import pandas as pd   
import numpy as np

In [2]:
df = pd.read_csv("project1_df.csv")

In [3]:
df

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location
0,943146,5876328741,Female,25-45,30/08/2023 20:27:08,Electronics,Yes,FESTIVE50,64.30,725.304000,661.004000,Credit Card,Ahmedabad
1,180079,1018503182,Male,25-45,23/02/2024 09:33:46,Electronics,Yes,SEASONALOFFER21,175.19,4638.991875,4463.801875,Credit Card,Bangalore
2,337580,3814082218,Other,60 and above,06/03/2022 09:09:50,Clothing,Yes,SEASONALOFFER21,211.54,1986.372575,1774.832575,Credit Card,Delhi
3,180333,1395204173,Other,60 and above,04/11/2020 04:41:57,Sports & Fitness,No,NaN,0.00,5695.612650,5695.612650,Debit Card,Delhi
4,447553,8009390577,Male,18-25,31/05/2022 17:00:32,Sports & Fitness,Yes,WELCOME5,439.92,2292.651500,1852.731500,Credit Card,Delhi
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54995,295864,5407639888,Other,25-45,23/02/2020 10:42:04,Electronics,Yes,SEASONALOFFER21,110.89,2819.907300,2709.017300,Debit Card,Other
54996,706435,1144029904,Other,18-25,12/07/2021 15:59:21,Electronics,Yes,SEASONALOFFER21,488.59,3891.303900,3402.713900,Cash on Delivery,Bangalore
54997,649435,9587323189,Male,45-60,02/08/2024 09:30:44,Home & Kitchen,Yes,NEWYEARS,417.63,4094.687500,3677.057500,Credit Card,Mumbai
54998,982183,5032564481,Female,45-60,05/08/2020 23:57:56,Beauty and Health,Yes,SEASONALOFFER21,204.56,3977.473500,3772.913500,Credit Card,Kolkata
54999,126691,9172953722,Male,25-45,21/07/2022 09:05:18,Beauty and Health,Yes,NEWYEARS,380.81,3703.581900,3322.771900,Credit Card,Mumbai

# Grouping and Aggregation

 df.groupby('col') - Group by column

Here i am calculate the mean  of Discount Amount  according the gender column

In [4]:
a  =  df.groupby('Gender')['Discount Amount (INR)'].mean()

In [5]:
a

Gender
Female    136.729324
Male      136.697534
Other     137.528035
Name: Discount Amount (INR), dtype: float64

 df.agg({'col': 'sum'}) - Aggregate

In [6]:
result = df['Discount Amount (INR)'].agg(['sum','max','mean'])

In [7]:
result

sum     7.534274e+06
max     5.000000e+02
mean    1.369868e+02
Name: Discount Amount (INR), dtype: float64

df.pivot_table() - Create pivot table

In [8]:
a =   pd.pivot_table(df, values='Net Amount', index='CID',  aggfunc=np.mean)

C:\Users\ragha\AppData\Local\Temp\ipykernel_2148\3849583346.py:1: FutureWarning: The provided callable <function mean at 0x0000021E1A248220> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  a =   pd.pivot_table(df, values='Net Amount', index='CID',  aggfunc=np.mean)

In [9]:
a

         Net Amount
CID
100009  6310.818400
100037  3147.992000
100063   522.900000
100089  3032.593000
100096  4320.675000
...             ...
999876  4372.104000
999883  1320.492575
999910  2646.507150
999924  2802.355500
999996  2234.081500

[29071 rows x 1 columns]

 df.crosstab() - Cross-tabulation

In [10]:
B  =  pd.crosstab(index=df['CID'], columns=df['Gender'])

In [11]:
B

Gender  Female  Male  Other
CID
100009       1     0      0
100037       0     1      0
100063       1     0      0
100089       1     1      2
100096       1     0      0
...        ...   ...    ...
999876       0     1      0
999883       1     0      1
999910       0     0      1
999924       1     0      0
999996       0     1      1

[29071 rows x 3 columns]

#   Merging and Joining

pd.concat([df1, df2]) - Concatenate dataframes

Here i am doing concatenate the result of pivot table and crosstab

In [12]:
concatenate = pd.concat([a,B])

In [13]:
concatenate

        Net Amount  Female  Male  Other
CID
100009   6310.8184     NaN   NaN    NaN
100037   3147.9920     NaN   NaN    NaN
100063    522.9000     NaN   NaN    NaN
100089   3032.5930     NaN   NaN    NaN
100096   4320.6750     NaN   NaN    NaN
...            ...     ...   ...    ...
999876         NaN     0.0   1.0    0.0
999883         NaN     1.0   0.0    1.0
999910         NaN     0.0   0.0    1.0
999924         NaN     1.0   0.0    0.0
999996         NaN     0.0   1.0    1.0

[58142 rows x 4 columns]

 pd.merge(df1, df2, on='key') - Merge on key column

merge is done using key that is common for both dataframe

In [14]:
merge = pd.merge(a,B , on = 'CID')

In [15]:
merge

         Net Amount  Female  Male  Other
CID
100009  6310.818400       1     0      0
100037  3147.992000       0     1      0
100063   522.900000       1     0      0
100089  3032.593000       1     1      2
100096  4320.675000       1     0      0
...             ...     ...   ...    ...
999876  4372.104000       0     1      0
999883  1320.492575       1     0      1
999910  2646.507150       0     0      1
999924  2802.355500       1     0      0
999996  2234.081500       0     1      1

[29071 rows x 4 columns]

 df.join(df2) - Join based on index

In [16]:
dataframe = pd.DataFrame(np.random.randn(len(df)), index=df['CID'], columns=['join_column'])

In [17]:
dataframe

        join_column
CID
943146    -0.147267
180079    -1.255861
337580     0.129440
180333    -1.081803
447553    -0.864611
...             ...
295864     0.698563
706435    -1.052583
649435    -0.561001
982183    -0.898032
126691     0.049256

[55000 rows x 1 columns]

In [18]:
join1 = df.join(dataframe , how='left')

In [19]:
join1

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location,join_column
0,943146,5876328741,Female,25-45,30/08/2023 20:27:08,Electronics,Yes,FESTIVE50,64.30,725.304000,661.004000,Credit Card,Ahmedabad,NaN
1,180079,1018503182,Male,25-45,23/02/2024 09:33:46,Electronics,Yes,SEASONALOFFER21,175.19,4638.991875,4463.801875,Credit Card,Bangalore,NaN
2,337580,3814082218,Other,60 and above,06/03/2022 09:09:50,Clothing,Yes,SEASONALOFFER21,211.54,1986.372575,1774.832575,Credit Card,Delhi,NaN
3,180333,1395204173,Other,60 and above,04/11/2020 04:41:57,Sports & Fitness,No,NaN,0.00,5695.612650,5695.612650,Debit Card,Delhi,NaN
4,447553,8009390577,Male,18-25,31/05/2022 17:00:32,Sports & Fitness,Yes,WELCOME5,439.92,2292.651500,1852.731500,Credit Card,Delhi,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54995,295864,5407639888,Other,25-45,23/02/2020 10:42:04,Electronics,Yes,SEASONALOFFER21,110.89,2819.907300,2709.017300,Debit Card,Other,NaN
54996,706435,1144029904,Other,18-25,12/07/2021 15:59:21,Electronics,Yes,SEASONALOFFER21,488.59,3891.303900,3402.713900,Cash on Delivery,Bangalore,NaN
54997,649435,9587323189,Male,45-60,02/08/2024 09:30:44,Home & Kitchen,Yes,NEWYEARS,417.63,4094.687500,3677.057500,Credit Card,Mumbai,NaN
54998,982183,5032564481,Female,45-60,05/08/2020 23:57:56,Beauty and Health,Yes,SEASONALOFFER21,204.56,3977.473500,3772.913500,Credit Card,Kolkata,NaN
54999,126691,9172953722,Male,25-45,21/07/2022 09:05:18,Beauty and Health,Yes,NEWYEARS,380.81,3703.581900,3322.771900,Credit Card,Mumbai,NaN

# Time Series

 pd.to_datetime(df['date']) - Convert to datetime

In [21]:
df

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location
0,943146,5876328741,Female,25-45,30/08/2023 20:27:08,Electronics,Yes,FESTIVE50,64.30,725.304000,661.004000,Credit Card,Ahmedabad
1,180079,1018503182,Male,25-45,23/02/2024 09:33:46,Electronics,Yes,SEASONALOFFER21,175.19,4638.991875,4463.801875,Credit Card,Bangalore
2,337580,3814082218,Other,60 and above,06/03/2022 09:09:50,Clothing,Yes,SEASONALOFFER21,211.54,1986.372575,1774.832575,Credit Card,Delhi
3,180333,1395204173,Other,60 and above,04/11/2020 04:41:57,Sports & Fitness,No,NaN,0.00,5695.612650,5695.612650,Debit Card,Delhi
4,447553,8009390577,Male,18-25,31/05/2022 17:00:32,Sports & Fitness,Yes,WELCOME5,439.92,2292.651500,1852.731500,Credit Card,Delhi
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54995,295864,5407639888,Other,25-45,23/02/2020 10:42:04,Electronics,Yes,SEASONALOFFER21,110.89,2819.907300,2709.017300,Debit Card,Other
54996,706435,1144029904,Other,18-25,12/07/2021 15:59:21,Electronics,Yes,SEASONALOFFER21,488.59,3891.303900,3402.713900,Cash on Delivery,Bangalore
54997,649435,9587323189,Male,45-60,02/08/2024 09:30:44,Home & Kitchen,Yes,NEWYEARS,417.63,4094.687500,3677.057500,Credit Card,Mumbai
54998,982183,5032564481,Female,45-60,05/08/2020 23:57:56,Beauty and Health,Yes,SEASONALOFFER21,204.56,3977.473500,3772.913500,Credit Card,Kolkata
54999,126691,9172953722,Male,25-45,21/07/2022 09:05:18,Beauty and Health,Yes,NEWYEARS,380.81,3703.581900,3322.771900,Credit Card,Mumbai

In [24]:
df['Purchase Date']

0        30/08/2023 20:27:08
1        23/02/2024 09:33:46
2        06/03/2022 09:09:50
3        04/11/2020 04:41:57
4        31/05/2022 17:00:32
                ...
54995    23/02/2020 10:42:04
54996    12/07/2021 15:59:21
54997    02/08/2024 09:30:44
54998    05/08/2020 23:57:56
54999    21/07/2022 09:05:18
Name: Purchase Date, Length: 55000, dtype: object

In [25]:
type(df['Purchase Date'])

pandas.core.series.Series

In this date time column the data in the form of series so convert into date

In [35]:
df['date']  =  pd.to_datetime(df['Purchase Date']  )

C:\Users\ragha\AppData\Local\Temp\ipykernel_2148\1346388287.py:1: UserWarning: Parsing dates in %d/%m/%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['date']  =  pd.to_datetime(df['Purchase Date']  )

In [38]:
type(df['date'][0])

pandas._libs.tslibs.timestamps.Timestamp

 df.set_index('date') - Set datetime as index

In [39]:
df.set_index(df['date'])

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location,date
date,,,,,,,,,,,,,,
2023-08-30 20:27:08,943146,5876328741,Female,25-45,30/08/2023 20:27:08,Electronics,Yes,FESTIVE50,64.30,725.304000,661.004000,Credit Card,Ahmedabad,2023-08-30 20:27:08
2024-02-23 09:33:46,180079,1018503182,Male,25-45,23/02/2024 09:33:46,Electronics,Yes,SEASONALOFFER21,175.19,4638.991875,4463.801875,Credit Card,Bangalore,2024-02-23 09:33:46
2022-03-06 09:09:50,337580,3814082218,Other,60 and above,06/03/2022 09:09:50,Clothing,Yes,SEASONALOFFER21,211.54,1986.372575,1774.832575,Credit Card,Delhi,2022-03-06 09:09:50
2020-11-04 04:41:57,180333,1395204173,Other,60 and above,04/11/2020 04:41:57,Sports & Fitness,No,NaN,0.00,5695.612650,5695.612650,Debit Card,Delhi,2020-11-04 04:41:57
2022-05-31 17:00:32,447553,8009390577,Male,18-25,31/05/2022 17:00:32,Sports & Fitness,Yes,WELCOME5,439.92,2292.651500,1852.731500,Credit Card,Delhi,2022-05-31 17:00:32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-23 10:42:04,295864,5407639888,Other,25-45,23/02/2020 10:42:04,Electronics,Yes,SEASONALOFFER21,110.89,2819.907300,2709.017300,Debit Card,Other,2020-02-23 10:42:04
2021-07-12 15:59:21,706435,1144029904,Other,18-25,12/07/2021 15:59:21,Electronics,Yes,SEASONALOFFER21,488.59,3891.303900,3402.713900,Cash on Delivery,Bangalore,2021-07-12 15:59:21
2024-08-02 09:30:44,649435,9587323189,Male,45-60,02/08/2024 09:30:44,Home & Kitchen,Yes,NEWYEARS,417.63,4094.687500,3677.057500,Credit Card,Mumbai,2024-08-02 09:30:44
2020-08-05 23:57:56,982183,5032564481,Female,45-60,05/08/2020 23:57:56,Beauty and Health,Yes,SEASONALOFFER21,204.56,3977.473500,3772.913500,Credit Card,Kolkata,2020-08-05 23:57:56
2022-07-21 09:05:18,126691,9172953722,Male,25-45,21/07/2022 09:05:18,Beauty and Health,Yes,NEWYEARS,380.81,3703.581900,3322.771900,Credit Card,Mumbai,2022-07-21 09:05:18

 df.shift(1) - Shift data

In [44]:
df.shift(1)

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location,date
0,NaN,NaN,None,None,None,None,None,None,NaN,NaN,NaN,None,None,NaT
1,943146.0,5.876329e+09,Female,25-45,30/08/2023 20:27:08,Electronics,Yes,FESTIVE50,64.30,725.304000,661.004000,Credit Card,Ahmedabad,2023-08-30 20:27:08
2,180079.0,1.018503e+09,Male,25-45,23/02/2024 09:33:46,Electronics,Yes,SEASONALOFFER21,175.19,4638.991875,4463.801875,Credit Card,Bangalore,2024-02-23 09:33:46
3,337580.0,3.814082e+09,Other,60 and above,06/03/2022 09:09:50,Clothing,Yes,SEASONALOFFER21,211.54,1986.372575,1774.832575,Credit Card,Delhi,2022-03-06 09:09:50
4,180333.0,1.395204e+09,Other,60 and above,04/11/2020 04:41:57,Sports & Fitness,No,NaN,0.00,5695.612650,5695.612650,Debit Card,Delhi,2020-11-04 04:41:57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54995,649543.0,3.738235e+09,Other,25-45,25/09/2023 18:21:53,Beauty and Health,Yes,SEASONALOFFER21,455.41,6067.845000,5612.435000,PhonePe UPI,Hyderabad,2023-09-25 18:21:53
54996,295864.0,5.407640e+09,Other,25-45,23/02/2020 10:42:04,Electronics,Yes,SEASONALOFFER21,110.89,2819.907300,2709.017300,Debit Card,Other,2020-02-23 10:42:04
54997,706435.0,1.144030e+09,Other,18-25,12/07/2021 15:59:21,Electronics,Yes,SEASONALOFFER21,488.59,3891.303900,3402.713900,Cash on Delivery,Bangalore,2021-07-12 15:59:21
54998,649435.0,9.587323e+09,Male,45-60,02/08/2024 09:30:44,Home & Kitchen,Yes,NEWYEARS,417.63,4094.687500,3677.057500,Credit Card,Mumbai,2024-08-02 09:30:44
54999,982183.0,5.032564e+09,Female,45-60,05/08/2020 23:57:56,Beauty and Health,Yes,SEASONALOFFER21,204.56,3977.473500,3772.913500,Credit Card,Kolkata,2020-08-05 23:57:56

 df.rolling(window=3).mean() - Rolling statistics

In [46]:
df.select_dtypes(include=[np.number]).rolling(window=3).mean()

,CID,TID,Discount Amount (INR),Gross Amount,Net Amount
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,486935.000000,3.569638e+09,150.343333,2450.222817,2299.879483
3,232664.000000,2.075930e+09,128.910000,4106.992367,3978.082367
4,321822.000000,4.406226e+09,217.153333,3324.878908,3107.725575
...,...,...,...,...,...
54995,415230.333333,4.335406e+09,188.766667,3111.987700,2923.221033
54996,550614.000000,3.429968e+09,351.630000,4259.685400,3908.055400
54997,550578.000000,5.379664e+09,339.036667,3601.966233,3262.929567
54998,779351.000000,5.254639e+09,370.260000,3987.821633,3617.561633
54999,586103.000000,7.930947e+09,334.333333,3925.247633,3590.914300